<!DOCTYPE html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= reference_code %> Privacy Disclosure</title>
    <style>
      body {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        line-height: 1.4;
        text-align: justify;
      }
      h1 {
        font-size: 18px;
      }
      .centered {
        text-align: center;
      }
      .compact {
        margin: 0;
      }
      strong, .strong {
        font-weight: bold;
      }
      .underline {
        display: inline-block;
        padding-right: 4em;
        border-bottom: 1px solid black;
        min-width: 10em;
      }
      .page-header {
        margin-bottom: 2em;
      }
      .page-header p {
        font-size: 16px;
      }
      .section {
        margin-bottom: 2em;
      }
      .page-header .section-title {
        margin-top: 2em;
      }
      .borrower-acknowledgement {
        margin-bottom: 4em;
      }
      .name, .date {
        text-align: left;
        margin-bottom: 1em;
      }
      .name p, .date p {
        margin: 0;
      }
    </style>
  </head>
  <body>
    <div class="ui container text">
      <div class="page-header section">
        <p class="strong">
          (Data Sharing between the Employer and Advance)
        </p>
        <h1 class="section-title centered">DATA PRIVACY DISCLOSURE AND CONSENT</h1>
        <p class="compact centered">
          (this <strong>"Disclosure and Consent"</strong>)
        </p>
      </div>
      <div class="page-content">
        <div class="section">
          <p>The undersigned Employee hereby consents to the collection, processing (as defined under data privacy laws of the Philippines (<strong>“Applicable Law”</strong>), use, storage, updating, and disclosure, by [name of employer] (the <strong>“Employer”</strong>), of all information (obtained from whatever source) relating to the Employee (including personal data, personal information and sensitive personal information as defined under Applicable Law), and the Employee’s application, recruitment, evaluation and employment with the Employer, its subsidiaries, affiliates and related interests (the <strong>“Employer Group”</strong>).
          </p>
          <p>The Employee hereby acknowledges that it has been informed and is aware of the following rights as a data subject under the Applicable Law: (a) right to object to the collection, processing, use or storage; and (b) right to access, correct, and erase or block, any information pertaining to the Employee that is collected, processed, used, stored or disclosed by the Employer.
          </p>
          <p>The Employee hereby grants its informed consent freely and specifically to the Employee’s sharing or disclosure to any of the following (and, in turn, their collection, processing, use, storage, updating and disclosure), of such information, and, for this purpose, the Borrower expressly waives its rights under the Applicable Law:
          </p>
          <p>
            (i) to any member of the Employer Group, whether organized in the Philippines or otherwise, and their respective representatives and agents; (ii) any public authority or government agency, competent court or tribunal, or any legal processes; and (iii) partner outlets, loyalty program partners, service providers, collection agency, professional advisors and third persons, engaged by the Employer, specifically <strong>Advance Tech Lending Inc.</strong> with whom the Employer has entered into an Employee Loan Accreditation Agreement and a Data Sharing Agreement for the purpose of Advance granting unsecured salary loans to the employees of the Employer using an online platform.
          </p>
          <p>The Employee agrees to hold the Employer and the Employer Group free and harmless from any and all liability that may arise from, or in connection with, the collection, processing, use, storage, updating and sharing or disclosure, of information relating to the Employer, pursuant to the informed consent freely and specifically given by the Employee under this Consent.</p>
        </div>
        <div class="borrower-acknowledgement section">
          <div class="name">
            <p class="underline"><%= full_name %></p>
            <p>Name of Borrower</p>
          </div>
          <div class="date">
            <p class="underline"><%= date_signed %></p>
            <p>Date</p>
          </div>
        </div>
      </div>
      <div class="page-header section">
        <p class="strong">
          To be signed by the Borrower (in connection with Loan from Advance)
        </p>
        <h1 class="section-title centered">DATA PRIVACY DISCLOSURE AND CONSENT</h1>
        <p class="compact centered">
          (this <strong>"Disclosure and Consent"</strong>)
        </p>
      </div>
      <div class="page-content">
        <div class="section">
          <p>The Borrower consents to the collection, processing (as defined under data privacy laws of the Philippines (<strong>“Applicable Law”</strong>), use, storage, updating, and disclosure, by Advance Tech Lending Inc. (<strong>“Advance”</strong>), of all information (obtained from whatever source) relating to the Borrower (including personal data, personal information and sensitive personal information as defined under Applicable Law) or any of its transactions or accounts with Advance, for the purpose of, or relative to, the Loan, or any credit accommodation now or hereinafter extended to the Borrower by Advance, or any product or service offered by Advance, or any other present or future transactions or accounts that the Borrower may have with, or avail from, Advance, its subsidiaries, affiliates and related interests (the <strong>“Advance Group”</strong>).</p>
          <p>The Borrower hereby acknowledges that it has been informed and is aware of the following rights as a data subject under the Applicable Law: (a) right to object to the collection, processing, use or storage; and (b) right to access, correct, and erase or block, any information pertaining to the Borrower that is collected, processed, used, stored or disclosed by Advance or any of the recipients mentioned below.</p>
          <p>The Borrower consents to Advance’s sharing or disclosure to any of the following (and, in turn, their collection, processing, use, storage, updating and disclosure), of such information, and, for this purpose, the Borrower expressly waives its rights under the Applicable Law:</p>
          <p>
            (i) to any member of the Advance Group, whether organized in the Philippines or otherwise, and their respective representatives and agents; (ii) credit information or investigation companies, banks, credit bureaus (including the Credit Information Corporation created pursuant to Republic Act No. 9510), credit protection provider or guarantee institutions, for reports on, among others, basic credit data, payment history and defaulting accounts; (iii) any public authority or government agency, competent court or tribunal, or any legal processes; (iv) any potential transferee or assignee of Advance’s rights or obligations under this Agreement or any relevant credit and loan agreements; (v) partner outlets, loyalty program partners, service providers, collection agency, professional advisors and third persons, engaged by Advance, and, (vi) such other persons or entities that Advance may deem necessary or appropriate.  
          </p>
          <p>The Borrower agrees to hold Advance and the Advance Group free and harmless from any and all liability that may arise from, or in connection with, the collection, processing, use, storage, updating and sharing or disclosure, of information relating to the Borrower or any of its transaction or accounts, the Loan, or any other present or future transactions or accounts that the Borrower may have with, or avail from, Advance or any members of the Advance Group, pursuant to the informed consent freely and specifically given by the Borrower under this Consent.</p>
        </div>
        <div class="borrower-acknowledgement section">
          <div class="name">
            <p class="underline"><%= full_name %></p>
            <p class="compact">Name of Borrower</p>
          </div>
          <div class="date">
            <p class="underline"><%= date_signed %></p>
            <p class="compact">Date</p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
